* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

#main,
#content__second {
  display: flex;
}
#main #left-content,
#main #content__left,
#content__second #left-content,
#content__second #content__left {
  flex: 15%;
}
#main #right-content,
#main #content__right,
#content__second #right-content,
#content__second #content__right {
  flex: 85%;
  margin-left: 20px;
}

#search_name:focus {
  border: 2px solid rgb(40, 170, 74);
}

.search-area {
  max-width: 100%;
}

.fa-magnifying-glass {
  position: absolute;
  padding: 13px;
}

.search-menu {
  padding: 10px 35px 10px;
  font-size: 15px;
  width: 600px;
  max-width: 700px;
  border: 1px solid #ccc;
  outline: none;
}

.error {
  left: 20px;
  font-size: 16.5px;
  color: red;
}

.option-style {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

#list_Quyen {
  position: absolute;
  width: 250px;
  background-color: #fff;
  box-shadow: 5px 10px 8px #888888;
  top: 13px;
  display: none;
  z-index: 5;
}
#list_Quyen ul {
  padding: 0px;
}
#list_Quyen ul li {
  font-size: 14px;
  padding: 7.5px 15px;
  font-weight: 500;
  cursor: pointer;
}
#list_Quyen ul li:hover {
  background: rgb(249, 220, 218);
}

#tableUser tbody td:first-child {
  width: 12%;
  padding-right: 15px;
}
#tableUser tbody td:nth-child(2) {
  width: 10%;
  padding-right: 15px;
}
#tableUser tbody td:nth-child(3) {
  width: 10%;
}
#tableUser tbody td:nth-child(4) {
  width: 8%;
}
#tableUser tbody td:nth-child(5) {
  width: 40%;
}
#tableUser tbody td:nth-child(6) {
  width: 10%;
}
#tableUser tbody td:last-child {
  width: 10%;
}

.form__group {
  background-color: #fff;
  position: relative;
  border: 1px solid #fff;
  margin-bottom: 20px;
}
.form__group input {
  font-size: 14px;
  font-weight: 500;
  width: 250px;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 15px;
}
.form__group input:focus {
  border: 2px solid rgb(40, 170, 74);
}
.form__group input:focus + label,
.form__group input:valid + label {
  top: 0px;
  color: rgb(40, 170, 74);
  font-size: 14px;
  font-weight: 500;
}
.form__group label {
  outline: none;
  border: none;
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.form__group span {
  position: absolute;
  top: 43.5px;
  left: 15px;
}
.form__group #status-label {
  outline: none;
  border: none;
  position: absolute;
  pointer-events: none;
  background-color: #fff;
  left: 15px;
  top: 0;
}
.form__group .fa-sort-down {
  position: absolute;
  right: 30px;
  top: 12px;
}
.form__group #list-status {
  position: absolute;
  width: 250px;
  background-color: #fff;
  box-shadow: 5px 10px 8px #888888;
  top: 13px;
  display: none;
}
.form__group #list-status ul {
  padding: 0px;
}
.form__group #list-status ul li {
  font-size: 14px;
  padding: 7.5px 15px;
  font-weight: 500;
  cursor: pointer;
}
.form__group #list-status ul li:hover {
  background: rgb(249, 220, 218);
}

.fa-calendar-days {
  position: absolute;
  padding: 13px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.text__note {
  padding: 6px;
  color: #3C4043;
  font-weight: bold;
  display: inline-block;
  margin: 5px 0;
  border-radius: 5px;
}

.selectButton .fa-pen-to-square:hover {
  color: red;
}
.selectButton .fa-trash-can:hover {
  color: red;
}

.form-select {
  display: none;
}

#createForm,
#updateUser {
  padding: 30px;
}
#createForm .form-user,
#updateUser .form-user {
  position: relative;
  margin: 30px 0;
}
#createForm .form-user input,
#updateUser .form-user input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgb(240, 240, 240);
  padding: 15px 15px 5px;
  transition: all 0.3s ease-in-out;
}
#createForm .form-user input:focus + label,
#createForm .form-user input:valid + label,
#updateUser .form-user input:focus + label,
#updateUser .form-user input:valid + label {
  top: 5px;
  font-size: 13px;
  color: rgb(40, 170, 74);
}
#createForm .form-user label,
#updateUser .form-user label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
#createForm .form-user span,
#updateUser .form-user span {
  position: absolute;
  top: 47.5px;
  left: 15px;
  font-size: 12.5px;
}

#select-option {
  display: none;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 700px) {
  #navigation {
    display: block;
  }
}
@media screen and (min-width: 700px) and (max-width: 928px) {
  .search-menu {
    width: 400px;
  }
}
@media screen and (max-width: 700px) {
  #headeing_title {
    font-size: 12.5px;
  }
  .search-menu {
    width: 300px;
  }
}
#card-profile {
  position: absolute;
  right: 25px;
  display: none;
  width: 250px;
  box-shadow: 5px 5px 5px 5px #888;
}

#img_User {
  width: 45px;
  height: 45px;
}

#introducstion {
  padding: 5px;
}

#content_user {
  position: relative;
}

#icon_plus {
  position: absolute;
  cursor: pointer;
  top: 43px;
  left: 90px;
}

#content_user__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 40px;
  margin-bottom: 20px;
}

#content__second {
  display: none;
}

#changePassword {
  display: none;
}

/*# sourceMappingURL=style.css.map */
