* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin icon {
	position: absolute;
	top: 50%;
	opacity: 0.5;
	transform: translateY(-50%);
}

$base-padding: 12px;

#wrapper {
	max-width: 1200px;
	height: 85vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-login {
	position: relative;
	margin: 40px 0;

	.fa-user,
	.fa-lock {
		@include icon;
		left: $base-padding;
	}

	.fa-eye,
	.fa-eye-slash {
		right: $base-padding;
		@include icon;
	}

	input {
		width: 100%;
		font-size: 18.5px;
		padding: $base-padding 32px;
		color: rgba(0, 0, 0, 0.87);
		background-color: transparent;

		&:focus {
			outline: 3px solid rgb(40, 170, 74);
		}
	}

	#loading_icon {
		position: absolute;
		left: 45%;
		top: 20%;
		display: none;
	}
}

#login_button {
	background-color: rgb(40, 170, 74);
	color: #fff;
	padding: 12px;
	transition: all 0.3s ease-in-out;
}

#login_button:hover {
	opacity: 0.85;
}

.error {
	position: absolute;
	margin-top: 56px;
	left: 12px;
	font-size: 17px;
	color: red;
}

.fa-eye-slash {
	display: none;
}